@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
  --color-lightgray: #F0F0F0;
  --color-turquoise: #00D4FF;
  --color-coral: #ed7947;
  --color-dimgray: #4c5d67;
  --color-darkslategray: #37474f;
  --color-black: #0b1f34;
  --color-white: #FFF;
  --color-blue:#004774;
  --color-yellow: #e5b226;
  --color-yellow2: #f7da73;
}

body, html {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Play', sans-serif;
}

body {
  background: var(--color-white);
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}