.pagination-container {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  text-align: center;
}

.pagination-item {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 0.5vw;
  margin-right: 0.5vw;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .pagination-item {
    width: 3vw;
    height: 3vw;
    border-radius: 0.75vw;
    margin-right: 0.75vw;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .pagination-item {
    width: 4vw;
    height: 4vw;
    border-radius: 0.75vw;
    margin-right: 0.75vw;
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .pagination-item {
    width: 5vw;
    height: 5vw;
    border-radius: 0.75vw;
    margin-right: 0.75vw;
    font-size: 12px;
  }
}

.pagination-item.active {
  background: var(--color-black);
  color: var(--color-yellow);
}

.pagination-item.inactive {
  background: var(--color-yellow);
  color: var(--color-black);
}

.pagination-item.active:hover {
  background-color: var(--color-lightblack);
  transition: 0.3s all ease-out;
}

.pagination-item.inactive:hover {
  background-color: var(--color-yellow2);
  transition: 0.3s all ease-out;
}
